<div data-role="footer" data-position="fixed">
  <a href="#footer-menu" data-rel="popup" data-transition="slideup" class="ui-btn ui-corner-all ui-mini ui-icon-bars ui-btn-icon-notext"></a>
</div>
<div data-role="popup" id="footer-menu">
  <ul data-role="listview" data-inset="true" style="min-width:210px;">
    <li><a href="/" data-ajax="false">Satisfactory Mobileとは？</a></li>
    <li><a href="/term_of_use" data-ajax="false" target="_blank">利用規約</a></li>
    <li><a href="/privacy_policy" data-ajax="false" target="_blank">プライバシーポリシー</a></li>
    <li><a href="/inquiry" data-ajax="false" target="_blank">お問い合わせ</a></li>
  </ul>
</div>
