<div data-role="page" id="edit">
  <form action="/questionnaire/{{ questionnaire.id }}/update" method="post" data-ajax="false">
    {% csrf_token %}
    <div data-role="header" data-id="header-edit" data-position="fixed">
      <a href="#show" data-transition="slideup" data-direction="reverse" class="ui-btn-left">キャンセル</a>
      <h1>[編集]{{ questionnaire.name }}</h1>
      <button type="submit" class="ui-btn-right">完了</button>
    </div>
    <div role="main" class="ui-content">
      <label for="questionnaire-name" class="required">アンケート名 <span class="smaller">(70字まで)</span></label>
      {% if 'name' in errors %}
        <p class="error">必須項目です。</p>
      {% endif %}
      <input type="text" data-clear-btn="true" name="name" id="questionnaire-name" placeholder="アンケート名" value="{{ post_data.name|default:questionnaire.name }}">
      <label for="questionnaire-content" class="required">アンケートの説明</label>
      {% if 'content' in errors %}
        <p class="error">必須項目です。</p>
      {% endif %}
      <textarea id="questionnaire-content" name="content">{{ post_data.content|default:questionnaire.content }}</textarea>
      <label for="questionnaire-thanks-message" class="required">回答者へのお礼</label>
      {% if 'thanks_message' in errors %}
        <p class="error">必須項目です。</p>
      {% endif %}
      <textarea id="questionnaire-thanks-message" name="thanks_message">{{ post_data.thanks_message|default:questionnaire.thanks_message }}</textarea>
      <label for="questionnaire-back-url">回答後に戻るURL <span class="smaller">(オプション)</small></label>
      {% if 'back_url' in errors %}
        <p class="error">正しいURLをご入力ください。</p>
      {% endif %}
      <input type="text" data-clear-btn="true" name="back_url" id="questionnaire-back-url" placeholder="戻るURL" value="{{ post_data.back_url|default:questionnaire.back_url }}">
      <label for="is-public">下書き / 公開</label>
      <select name="is_public" id="is-public" data-role="slider">
        <option value="0">下書き</option>
        <option value="1"{% if post_data.is_public or questionnaire.is_public %} selected="selected"{% endif %}>公開</option>
      </select>
      <label for="start-at">開始日 <span class="smaller">(指定なし可)</span></label>
      <input type="date" name="start_at" id="start-at" value="{% if post_data.start_at %}{{ post_data.start_at }}{% elif questionnaire.start_at %}{{ questionnaire.start_at|date:'Y-m-d' }}{% endif %}">
      <label for="end-at">終了日 <span class="smaller">(指定なし可)</span></label>
      <input type="date" name="end_at" id="end-at" value="{% if post_data.end_at %}{{ post_data.end_at }}{% elif questionnaire.end_at %}{{ questionnaire.end_at|date:'Y-m-d' }}{% endif %}">
    </div>
  </form>
</div>
