<script type="text/javascript" src="/static/scripts/account-password-edit.js"></script>
<div data-role="page" id="password-edit">
  <form action="/account/password/update" method="post" data-ajax="false">
    {% csrf_token %}
    <div data-role="header" data-id="header-password-edit" data-position="fixed">
      <a href="#index" data-transition="slideup" data-direction="reverse" class="ui-btn-left">キャンセル</a>
      <h1>Eメール変更</h1>
      <button type="submit" id="submit" class="ui-btn-right ui-disabled">完了</button>
    </div>
    <div role="main" class="ui-content">
      <label for="current-password" class="required">現在のパスワード</label>
      {% if 'current_password' in errors %}
        <p class="error">入力内容に誤りがあります。</p>
      {% endif %}
      <input type="password" name="current_password" id="current-password" placeholder="現在のパスワード">
      <label for="password" class="required">新しいパスワード <span class="smaller">(8〜24文字)</span></label>
      {% if 'password' in errors %}
        <p class="error">8~24文字必須です。</p>
      {% endif %}
      <div><span class="smaller">パスワードは忘れないように保管してください。</span></div>
      <input type="password" name="password" id="password" placeholder="新しいパスワード">
      <label for="confirm-password" class="required">新しいパスワード <span class="smaller">(確認)</span></label>
      <p class="error" style="display:none;" id="error-password">パスワードが一致しません。</p>
      <input type="password" id="confirm-password" placeholder="新しいパスワード (確認)">
    </div>
  </form>
</div>
