<div data-role="panel" id="panel-account" data-position="right" data-display="reveal" data-theme="d">
  <ul data-role="listview">
    <li data-icon="false"><a href="/account" data-ajax="false">アカウント設定</a></li>
    <li data-icon="false"><a href="/help" data-ajax="false">ヘルプ</a></li>
    <li data-icon="false"><a href="/term_of_use" data-ajax="false" target="_blank">利用規約</a></li>
    <li data-icon="false"><a href="/privacy_policy" data-ajax="false" target="_blank">プライバシーポリシー</a></li>
    <li data-icon="false"><a href="/-/74a997e4" data-ajax="false" target="_blank">ご意見・ご要望</a></li>
    <li data-icon="false"><a href="/inquiry" data-ajax="false" target="_blank">お問い合わせ</a></li>
    <li data-icon="false"><a href="/logout" data-ajax="false">ログアウト</a></li>
  </ul>
</div>
