{% extends "web/layouts/default.html" %}

{% block title %}{% include "web/settings/service.html" %}{% endblock %}

{% block body %}
<div data-role="page" id="inquiry">
  <div data-role="header" data-id="header-inquiry" data-position="fixed">
    <h1>お問い合わせ</h1>
  </div>
  <div role="main" class="ui-content">
    <div class="ui-body ui-body-a ui-corner-all">
      <p>お問い合わせは下記の開発者Twitterアカウントまでご連絡ください。</p>
      <p>Twitter: <a href="https://twitter.com/otoyo0122" target="_blank">@otoyo0122</a></p>
    </div>
  </div>
</div>
{% endblock %}
